*{
    margin: 0;
    box-sizing: border-box;
    overflow-y: scroll;
}

*::-webkit-scrollbar{
    display: none;
}

:root {
    /* Variables for colors  */
    --background-color: #F1F5F0 ;
    --text-color: #8B1E3F;
    --second-text-color: #212A40;
    --primary-color: #E9C120; 
    --accent-color: #D05E1D;
    --secondary-color: #F8E9A9;

    /* Variables for text sizes  */
    --h1: 52px;
    --h2: 48px;
    --h3: 36px;
    --h4: 20px;
    --h5: 16px;

    /* mag add nalang tayo ng variables if merong value na repetitive */

    --text-font: "Inter", sans-serif;
}

/* This portion is for the Nav-Bars of the website */

body{
    background-color: var(--background-color);
}

nav{
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--second-text-color);
    color: var(--primary-color);
    width: 100%;
    max-width: 100%;
    height: 10vh;
    padding: 4px;
    position: fixed;
    z-index: 99;
 }

#Logo {
    display: flex;
    gap: 12px;
    align-items: center;
    text-align: center;
}

#Logo div{
    font-size: var(--h1);
    font-weight: 700;
    font-family: var(--text-font);
}

.brand{
    cursor: pointer;
}

.navigation-items{
    display: flex;
    margin-right: 12px;
    align-items: center;
    justify-content: center;
}

.navigation-items a{
    margin-right: 64px;
    text-decoration: none;
    color: var(--primary-color);
    font-size: var(--h4);
    font-weight: 400;
    font-family: var(--text-font);
}

.navigation-items a:hover{
    color: #ffffff;
    transition: ease-in-out;
    transition-duration: 0.5ms;
}

.navigation-items button{
    padding: 4px;
    width: 100px;
    height: 48px;
    border-radius: 12px;
    border: none;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    font-family: var(--text-font);
    font-size: var(--h5);
    font-weight: 400;
    cursor: pointer;
}

.navigation-items button:hover{
    color: #e7cf6e;
    background-color: #e4671f;
}

/*Home page*/

h1{
    font-family: var(--text-font);
    font-size: var(--h1);
    color: var(--text-color);
}

p{
    font-family: var(--text-font);
    font-size: var(--h4);
    color: var(--text-color)
}

video{
    margin-top: 8vh;
}

.nature{
    font-family: var(--text-font);
    font-size: var(--h2);
    color: var(--text-color)
}

.herobutton{
    font-family: var(--text-font);
    color: var(--background-color);
    background-color: var(--accent-color);
    width: 119px;
    height: 27px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
}

.herobutton:hover{
    color: #ff8800;
    background-color: #000000;
}

.content{
    display: flex;
    margin: 24px 12px;
    justify-content: center;
}   

.picture{
    background-color: lightgray;
    width: 49%;
    height: 92vh;
}

.description1{
    display: flex;
    flex-direction: column;
    background-color: #d3eafa;
    width: 49%;
    height: 92vh;
    justify-content: center;
    padding: 20px;
}

.description2{
    display: flex;
    flex-direction: column;
    background-color: #f0daf3;
    width: 49%;
    height: 92vh;
    justify-content: center;
    padding: 20px;
}

.description3{
    display: flex;
    flex-direction: column;
    background-color: rgb(251, 67, 70, .16);
    width: 49%;
    height: 92vh;
    align-items: center;
    justify-content: center;
}

.contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    height: 20vh;
}

.contact h2{
    text-align: center;
    font-family: var(--text-font);
    font-size: var(--h3);
    color: var(--accent-color);
}

.contact p{
    font-family: var(--text-font);
    color:var(--accent-color);
}

form{
    position: absolute;
    left: 55%;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid var(--accent-color);
    width: 300%;
}

input[type=text]::placeholder{
    font-family: var(--text-font);
    font-size: var(--h5);
    color: var(--accent-color);
}

.email input[type=text]:focus-within{
    outline: none;
    color: var(--accent-color);
}

.display{
    display: flex;
    justify-content: space-evenly;
    margin: 24px 12px;
}

.pic{
    display: flex;
    background-color: lightgray;
    width: 49%;
    height: 48vh;
    align-items: center;
    justify-content: center;
}

/* For Shop.html */

.searchBarSection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
    gap: 48px;
    margin-top: 16vh;    
}

.searchContainer{
    width: 70%;
    display: flex;
    align-items: center;
    background-color: var(--accent-color);
    padding: 12px;
    border-radius: 50px;
    transition: box-shadow 0.25s ease-in-out;
    cursor: auto;
}

.searchContainer:focus-within, .searchContainer:hover{
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.searchContainer .searchInput{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary-color);
    width: 100%;
}

.searchContainer .searchInput::placeholder, .searchIcon{
    color: var(--secondary-color);
    font-weight: 200;
    font-family: var(--text-font);
}

.shopIcon{
    cursor: pointer;
}

.ItemSection{
    margin: 100px 0;
}

.ItemSection h1{
    font-family: var(--text-font);
    font-size: var(--h1);
    font-weight: 700;
    color: var(--second-text-color);
    margin-left: 28px;
    margin-top: 32px;
}

.cardHolder{
    display: flex;
    gap: 48px;
    margin: 24px;
    padding: 4px;
    align-items: center;
    justify-content: space-evenly;
}

.card{
    text-align: center;
    width: 60%;
    height: 52vh;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover{
    transform: scale(1.03);
    border: none;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
}

.itemContainer{
    flex: 0.9;
}

.itemContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.price{
    margin-bottom: 12px;
    margin-left: 12px;
}

.ItemSection button{
    padding: 4px;
    width: 100px;
    height: 48px;
    border-radius: 12px;
    border: none;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    font-family: var(--text-font);
    font-size: var(--h5);
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    left: 47%
}

.ItemSection button:hover{
    color: #e7cf6e;
    background-color: #e4671f;
}

.extraItem{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background-color:#E9C120;
    width: 98%;
    margin: auto;
    border-radius: 12px;
    background: url(https://images5.alphacoders.com/437/437760.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

/*About section*/

.content{
    margin-top: 12vh;
}

.team h2{
    font-family: var(--text-font);
    font-size: var(--h2);
}

.about h3{
    font-family: var(--text-font);
    font-size: var(--h3);
    color: var(--second-text-color);
}

.about p{
    font-family: var(--text-font);
    font-size: var(--h4);
    color: var(--second-text-color);
}

.team{
    display: flex;
    justify-content: center;
}

.profile{
    display: flex;
    margin: 24px 12px;
    justify-content: center;
    gap: 160px;
    text-align: center;
}

.face{
    display: flex;
    background-color: #f0daf3;
    width: 46%;
    height: 512px;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 540px;
    height: 512px;   
}

/* Contacts section */

.locationSection{
    width: 98%;
    margin-top: 12vh;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
}

.locationContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.locationDescription{
    width: 50%;
    height: 32vh;
    padding: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 32px;
}

.locationPicture{
    margin: 12px 0;
    height: 80vh;
    width: 50%;
    background-color: var(--background-color);
    border-radius: 12px;
}

/*Footer section*/
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 24vh;
}

.time div{
    display: flex;
    align-items: center;
    margin: 5px 6px;
    gap: 10px;
}

.time h3{
    font-family: var(--text-font);
    font-size: var(--h4);
    color: var(--second-text-color);
}

.time p{
    font-family: var(--text-font);
    font-size: var(--h5);
    color: var(--second-text-color)
}

.social div{
    display: flex;
    align-items: center;
    margin: 5px 6px;
    gap: 10px;
}

.social h3{
    font-family: var(--text-font);
    font-size: var(--h4);
    color: var(--second-text-color);
}

.location div{
    display: flex;
    align-items: center;
    margin: 5px 6px;
    gap: 10px;
}

.social p{
    font-family: var(--text-font);
    font-size: var(--h5);
    color: var(--second-text-color)
}

.location h3{
    font-family: var(--text-font);
    font-size: var(--h4);
    color: var(--second-text-color);
}

.location p{
    font-family: var(--text-font);
    font-size: var(--h5);
    color: var(--second-text-color)    
}
